
body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header, .hero, .information, .quote, .footer {
    padding-left: 50px;
    padding-right: 50px;
}

.header, .hero {
    background-color: #1F2937;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    list-style: none;

    display: flex;
    gap: 10px;
}

/* HERO */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero .left p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
}

.hero .left, .hero .right {
    flex: 1;
}

img {
    width: 100%;
}

/* INFORMATION */

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .container {
    display: flex;
    gap: 30px;
}

.card p {
    text-align: center;
    color: #808080;
}

.card img {
    border: 5px solid #3882F6;
    border-radius: 20px;

}

/* QUOTE */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    margin-bottom: 0;
}

.quote .author {
    align-self: flex-end;
    font-weight: bold;
}

/* CALL TO ACTION */

.call-to-action .container{
    display: flex;
    align-items: center;
}

.call-to-action button {
    margin-left: auto;
    background: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 5px 20px;
    font-weight: bold;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 40px 0;
    padding: 5px 30px;
}

.call-to-action .text {
    color: #F9FAF8;
}

h4 {
    margin-bottom: -10px;
    font-size: 18px;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: #E5E7EB;
    font-size: small;
}

